DATABASE_URL=postgresql://postgres:[senhadobanco]@db.mvgbmwvaoedcjostgijv.supabase.co:5432/postgre
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12Z2Jtd3Zhb2VkY2pvc3RnaWp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwNDQyNzQsImV4cCI6MjEwMjYyMDI3NH0.IYDi1Xl4jm4yLpc_t7JaXvXZD1nlG6VEXkDDbyGCvmg
SUPABASE_SERVICE_ROLE_KEY=sua_chave_service_role_aqui
